<div class="flex h-screen bg-surface-900 overflow-hidden">
  <!-- Sidebar -->
  <div class="hidden md:block w-64 shrink-0">
    <app-nav-bar-admin></app-nav-bar-admin>
  </div>

  <!-- Main Content Area -->
  <div class="w-full flex flex-col min-w-0 overflow-hidden">
    <!-- Mobile Nav -->
    <div class="md:hidden">
      <app-nav-bar-admin></app-nav-bar-admin>
    </div>

    <!-- Content -->
    <main class="w-full overflow-y-auto">
      <router-outlet />
    </main>
  </div>
</div>

<app-toast />
