<nav class="bg-red-200 rounded-2xl">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-12 items-center justify-between">

      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="hidden sm:m-auto sm:block">
          <div class="flex space-x-0 sm:space-x-0.5 md:space-x-6 lg:space-x-6 ">
            <a href="" class="rounded-md px-3 py-2 text-sm font-medium hover:bg-red-500 hover:text-white">INICIO</a>
            <a href="about-me" class="rounded-md px-3 py-2 text-sm font-medium hover:bg-red-500 hover:text-white">SOBRE MI</a>
            <a href="portfolio" class="rounded-md px-3 py-2 text-sm font-medium hover:bg-red-500 hover:text-white">PORTAFOLIO</a>
            <a href="contact" class="rounded-md px-3 py-2 text-sm font-medium hover:bg-red-500 hover:text-white">CONTACTO</a>
          </div>
        </div>
      </div>

      <!-- Mobile menu button-->
      <div class="absolute inset-y-0 right-0 flex sm:hidden">

        <button (click)="toggleMobileMenu()" type="button" class="relative inline-flex items-center justify-center rounded-md p-2 hover:bg-red-500 hover:text-white focus:ring-2 focus:ring-white focus:outline-hidden focus:ring-inset" aria-controls="mobile-menu" aria-expanded="false">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg class="block size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <!--
            Icon when menu is open.

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg class="hidden size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
        </button>

      </div>

    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <!-- <div class="absolute bg-red-200 rounded-2xl" id="mobile-menu" [hidden]="classMobile"> -->
  <div class="absolute w-full z-50 top-24 left-0 bg-red-200 rounded-2xl shadow-lg"
     id="mobile-menu"
     [hidden]="classMobile"
     style="max-height: calc(100vh - 4rem); overflow-y: auto;">
    <div class="space-y-1 px-1 pt-1 pb-1">
      <a href="" class="block rounded-md px-3 py-2 text-base font-medium hover:bg-red-500 hover:text-white" aria-current="page">INICIO</a>
      <a href="about-me" class="block rounded-md px-3 py-2 text-base font-medium hover:bg-red-500 hover:text-white">SOBRE MI</a>
      <a href="portfolio" class="block rounded-md px-3 py-2 text-base font-medium hover:bg-red-500 hover:text-white">PORTAFOLIO</a>
      <a href="contact" class="block rounded-md px-3 py-2 text-base font-medium hover:bg-red-500 hover:text-white">CONTACTO</a>
    </div>
  </div>
</nav>
