<div class="grid grid-cols-2">

  <div class="col-span-2 sm:col-span-1 m-auto">
    Formulario de contacto
  </div>

  <div class="col-span-2 sm:col-span-1 m-auto">
    <app-card-img
    [cardsImg]="imgContat"
    ></app-card-img>
  </div>

  <div class="col-span-2 m-auto mb-10">
    <div class="grid grid-cols-1 sm:grid-cols-2 space-x-2 items-center">
      <h2 class="font-bold text-2xl mb-4 sm:text-4xl text-red-300 text-center sm:m-5  col-span-2">Ubicación</h2>

      <div class="col-span-2 sm:col-span-1 rounded-md border-red-300 border-spacing-2">
        <!-- <app-card-img
        [cardsImg]="imgContat"
        [position]="1"
        (action)="clickHandler('location', $event)"
        ></app-card-img> -->
        <iframe class="m-auto rounded-md shadow-lg shadow-red-300 h-96 w-72 sm:w-96"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18314.352208469903!2d-58.44068762294801!3d-34.58792721103561!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb588f4af5d17%3A0x560fe6ff3f099abf!2sPlaza%20Serrano!5e0!3m2!1ses!2sve!4v1741108590257!5m2!1ses!2sve" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

      <div class="col-span-2 sm:col-span-1">
        <h3 class="font-bold text-lg sm:text-2xl text-gray-500 m-4">
          ¿Cómo llegar?
        </h3>
        <p class="text-justify font-medium m-1 sm:m-3 sm:text-left">
          Plaza Serrano, Buenos Aires, Argentina
        </p>
        <p class="text-justify font-medium m-1 sm:m-3 sm:text-left">
          <strong>
            Dirección:
          </strong>
          Serrano y Honduras, Palermo Soho
        </p>
        <p class="text-justify font-medium m-1 sm:m-3 sm:text-left">
          <strong>
            Barrio emblemático:
          </strong>
          Zona de bares, tiendas de diseño y arte callejero.
        </p>
      </div>
    </div>
  </div>
</div>
