<div class="grid grid-cols-[repeat(3,1fr)] grid-rows-[repeat(3,1fr)] gap-y-[10px] gap-x-[10px]">
  <div>
    <img src="https://play-lh.googleusercontent.com/URnmANTI8UG4hIzAO1ElME7fJ6NnwqXqM0iuOvy6jYtuX4j7Qae-FLTZxToucVJMlic=w2560-h1440-rw" alt="">
  </div>
  <div>
    <img src="https://play-lh.googleusercontent.com/URnmANTI8UG4hIzAO1ElME7fJ6NnwqXqM0iuOvy6jYtuX4j7Qae-FLTZxToucVJMlic=w2560-h1440-rw" alt="">
  </div>
  <div>
    <img src="https://play-lh.googleusercontent.com/URnmANTI8UG4hIzAO1ElME7fJ6NnwqXqM0iuOvy6jYtuX4j7Qae-FLTZxToucVJMlic=w2560-h1440-rw" alt="">
  </div>
  <div>
    <img src="https://play-lh.googleusercontent.com/URnmANTI8UG4hIzAO1ElME7fJ6NnwqXqM0iuOvy6jYtuX4j7Qae-FLTZxToucVJMlic=w2560-h1440-rw" alt="">
  </div>
  <div>
    <img src="https://play-lh.googleusercontent.com/URnmANTI8UG4hIzAO1ElME7fJ6NnwqXqM0iuOvy6jYtuX4j7Qae-FLTZxToucVJMlic=w2560-h1440-rw" alt="">
  </div>
  <div>
    <img src="https://play-lh.googleusercontent.com/URnmANTI8UG4hIzAO1ElME7fJ6NnwqXqM0iuOvy6jYtuX4j7Qae-FLTZxToucVJMlic=w2560-h1440-rw" alt="">
  </div>
  <div>
    <img src="https://play-lh.googleusercontent.com/URnmANTI8UG4hIzAO1ElME7fJ6NnwqXqM0iuOvy6jYtuX4j7Qae-FLTZxToucVJMlic=w2560-h1440-rw" alt="">
  </div>
  <div>
    <img src="https://play-lh.googleusercontent.com/URnmANTI8UG4hIzAO1ElME7fJ6NnwqXqM0iuOvy6jYtuX4j7Qae-FLTZxToucVJMlic=w2560-h1440-rw" alt="">
  </div>
  <div>
    <img src="https://play-lh.googleusercontent.com/URnmANTI8UG4hIzAO1ElME7fJ6NnwqXqM0iuOvy6jYtuX4j7Qae-FLTZxToucVJMlic=w2560-h1440-rw" alt="">
  </div>
</div>
