<div class="grid grid-cols-3 m-10 p-1 items-center">

  <div class="col-span-3 sm:col-span-1">
    <app-card-img
    [cardsImg]="cardsImg"
    ></app-card-img>
  </div>

  <div class="col-span-3 sm:col-span-2">
    <app-text-description
    [text]="textContent[0]"
    ></app-text-description>
  </div>

  <div class="mt-10 col-span-3 sm:col-span-2 sm:mt-0">
    <app-text-description
    [text]="textContent[1]"
    ></app-text-description>
  </div>

  <div class="col-span-3 sm:col-span-1">
    <app-card-img
    [cardsImg]="cardsImg"
    [position]="1"
    ></app-card-img>
  </div>

  <div class="col-span-3 sm:col-span-1">
    <app-card-img
    [cardsImg]="cardsImg"
    [position]="2"
    ></app-card-img>
  </div>

  <div class="col-span-3 sm:col-span-2">
    <app-text-description
    [text]="textContent[2]"
    ></app-text-description>
  </div>

</div>
